/* RESET */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* GENERAL */

* {
  box-sizing: border-box;
}

.collapsed {
  display: none;
}
.sharebuttongrey {
  background-color: #d5d5d5;
  color: #fff;
}
.hidden {
  display: none;
}

/* CARD */

.card-container {
  background-image: url(https://images.assetsdelivery.com/compings_v2/ingalinder/ingalinder1603/ingalinder160300117.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 240px;
}
.card {
  background-color: #fff;
  width: 240px;
  height: 329px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 2px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35);
}
.card__photo {
  width: 240px;
  height: 200px;
}
.card__list {
  display: flex;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 12px;
  width: 54px;
}
.card__list--icon {
  margin-right: 10px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__list--icon-1 {
  font-size: 18px;
  transform: scale(1);
}
.card__list--icon-1:hover {
  transform: scale(0.9);
}
.card__title {
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-bottom: 10px;
}
.card__title--rectangle {
  width: 5px;
  height: 42px;
}
.card__title--text {
  padding-left: 20px;
}
.name {
  line-height: 1.11;
  font-size: 1.8rem;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 18px;
}
.subtitle {
  line-height: 1.25;
  font-size: 1.6rem;
  color: #54585a;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

/* PALETTES */

.rectangle-1 {
  background-color: #438792;
}
.rectangle-2 {
  background-color: #bd1010;
}
.rectangle-3 {
  background-color: #eab052;
}
.name-1 {
  color: #114e4e;
}
.name-2 {
  color: #420101;
}
.name-3 {
  color: #3e5b65;
}
.iconcircle-1 {
  border: 3px solid #a2deaf;
  transition: background-color ease 0.5s;
}
.iconcircle-1:hover {
  background-color: #a2deaf;
}
.iconcircle-2 {
  border: 3px solid #e95626;
  transition: background-color ease 0.5s;
}
.iconcircle-2:hover {
  background-color: #e95626;
}
.iconcircle-3 {
  border: 3px solid #a0c0cf;
  transition: background-color ease 0.5s;
}
.iconcircle-3:hover {
  background-color: #a0c0cf;
}
.icon-1 {
  color: #114e4e;
}
.icon-2 {
  color: #420101;
}
.icon-3 {
  color: #3e5b65;
}
